.flex-container {
  background-color: rgb(162, 98, 236);
  height: 90vh;
  display: flex;
  /*Eje principal del contenedor flex*/
  flex-direction: row;
  /* Alineación de los elementos en base al eje principal*/
  justify-content: flex-start;
  /* Alineación de los elementos en base al eje secundarios */
  align-items: center;
  /* Flex wrap*/
  flex-wrap: wrap;
  /* Alinear el contenido */
  align-content: normal;
}

lex-container > div {
  background-color: antiquewhite;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: fit-content;
  height: fit-content;
}
